<html>
<head><title>LTI Tool Provider</title></head>
<body>
<script type="text/javascript">
  window.location = '/index.html?type=lti&lti='+encodeURIComponent(JSON.stringify({
      'return': '/lti/consumer'
  }));
</script>
</body>
</html>