.app-list {

  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 1em;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background-color: #fff;

  a {
    display: block;
    color: #333;
  }

  h2 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  figure {

    @extend .clearfix;
    margin: 10px 20px 10px 0;

    .icon {
      float: left;
    }

    figcaption {
      @extend small;
      margin: 5px 0 0 72px;

      h4 {
        margin: 0 0 0.2em 0;
      }

      p {
        margin: 0.5em 0;
      }
    }

  }

}