.app-details {

  background: #fff;
  padding: 20px;
  border-radius: 1em;
  border: 1px solid #bbb;
  margin-bottom: 20px;

  .add-app-button {
    background-color:#363;
    color:#fff;
    border-radius: 6px;
    font-size: 0.8em;
    font-weight:bold;
    text-align:center;
    margin-top: 3px;
    padding: 2px 0;
  }

}