.app-row {

  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #bbb;
  border-width: 1px 0;

  > .wrapper {
    margin: 0 20px;
  }

  a {
    margin: 10px 20px 10px 0;
    display: block;
    color: #666;
    float: left;
  }

  h2 {
    margin: 0;
    color: #222;
  }

  ul {
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
    @extend .clearfix;
  }

  .icon {
    margin: 0 auto 10px;
  }

  figure {
    padding: 0;

    figcaption {
      @extend small;
      text-align: center;
    }

  }

}