.app-details {

  background: #fff;
  padding: 20px;
  margin: 0 20px;
  border-radius: 1em;
  border: 1px solid #bbb;
  margin-bottom: 20px;

  .add-app-button {
    margin-top: 3px;
    border-radius: 6px;
  }

}