body {
  padding: 20px 0;
}

form[data-type="query"] {

  text-align: center;

  label {
    display: block;
    @extend .hide-accessible;
  }

  input[type="search"] {
    width: 80%;
    border-radius: 1em;
    padding: 5px 20px 5px 10px;
    border: 1px solid #bbb;
    text-align: center;
  }

  input[type="submit"] {
    margin: 2px 0 0 0;
    position: absolute;
    right: 12%;
    z-index: 10;
    border: 0;
    font-size: 1.1em;
    background: transparent;
    color: #aaa;
    padding: 0;
  }

  @media (min-width: 600px){
    input[type="search"] { width: 60%; }
    input[type="submit"] { right: 20.75%; }
  }

  @media (min-width: 800px){
    input[type="search"] { width: 40%; }
    input[type="submit"] { right: 30.1%; }
  }

}

.icon {
  background-color: #ccc;
  border-radius: 10px;
  height: 60px;
  width: 60px;
}

.scrollable {
  overflow: scroll;
}

small {
  font-size: 0.9em;
}

a:hover {
  text-decoration: none;
}